<div class="content">
    <img src="../../../assets/img/googlelogo_color_272x92dp.png" alt="">
    <div class="input-icon">
        <img class="lupa" src="../../../assets/img/lupa.svg" alt="icone lupa">
        <input class="input" type="text">
       <img class="microfone" src="../../../assets/img/microfone.svg" alt="icone microfone">
    </div>
    <div class="showtcut">
       <div>
        <img src="../../../assets/img/add.svg" alt="botão de adicionar" class="adicionar">
       </div> 
       <span>Adicionar Atalho</span>
    </div>
</div>
       